<div class="container">

  <h1><%= @cocktail.name.downcase %></h1>

  <%# <%= cl_image_tag("qwwdisqcwci1l7tfzda1",
      width: 400, height: 300, crop: :fill) %>
  <% if @cocktail.photo.attached? %>

    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill %>

  <% else %>

    <img class = "default-img-full" src="https://i.pinimg.com/600x315/05/2a/74/052a7458e0846da55184b6eaede6138b.jpg", height: 300, width: 300, crop: :fill>
  <% end  %>

  <div class="dose-info">

  <h3>ingredients</h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li><p><%= dose.description.downcase %> of
        <%= dose.ingredient.name.downcase %>
          <% if @cocktail.doses  %>
            <%= link_to '[ delete ]', dose_path(dose), method: :delete, data: { confirm: 'are you sure?', class: 'dose-delete-link' } %></p>

          <% end  %></li>
      <% end  %>
    </ul>
  </div>

  <div id="dose-actions">
    <p><%= link_to '[ add dose ]', new_cocktail_dose_path(@cocktail) %></p>

    <p><%= link_to '[ back to cocktail list ]', cocktails_path %></p>
  </div>

</div>
